<main
  class="principalContainer"
  [style.backgroundColor]="clicked ? 'rgba(198, 198, 198, 0.75)' : 'initial'"
  [style.backgroundImage]="clicked ? 'url(' + image + ')' : 'none'"
>
  @if (clicked){
  <div class="fondoContainer">
    <div class="titleClicked">{{title}}</div>
    <div class="priceClicked">${{price}}</div>
    <div class="infoClicked">{{description}}</div>
    <div class="categoryClicked">{{category}} - Rating: {{rating}}</div>
  </div>
  } @else {
  <div class="imgContainer">
    <img
      class="fileImg"
      src={{image}}
      alt="imagenDelProducto"
    />
  </div>
  <div class="preInfoContainer">
    <p class="name">{{title}}</p>
    <p class="price">${{price}}</p>
    <p class="category">{{category}}</p>
  </div>
  }
</main>
